
.DS_Store

/Release
**/Release
**/Release/*

/build
**/build
**/build/*

.cproject
.pydevproject
.project
.settings
**/.cproject
**/.pydevproject
**/.project
**/.settings

/controlino/Release

*.prefs
*.d
*.o
*.mk
*.pyc
*.project